{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container">
        <h1>Edit an announce{{announce.mark}}{{announce.model}}</h1>
        <form method="post">
            <input type="hidden" name="id" value={{announce.id}}>
            <div class="form-group">
                <label class="col-form-label" for="mark">Mark : </label>
                <input type="text" class="form-control border border-3" name="lastname" value={{announce.mark}}>
            </div>
            <div class="form-group">
                <label class="col-form-label" for="model">Modèle : </label>
                <input type="date" class="form-control border border-3" name="birthday" value={{announce.model}}>
            </div>
            <div class="form-group">
                <label class="col-form-label" for="regNumber">Matricule : </label>
                <input type="text" class="form-control border border-3" name="firstname" value={{announce.regNumber}}>
            </div>
            <div class="form-group">
                <label class="col-form-label" for="color">Couleur : </label>
                <input type="text" class="form-control border border-3" name="birth_place" value={{announce.color}}>
            </div>
            <div class="form-group">
                <label class="col-form-label" for="power">Puissance : </label>
                <input type="text" class="form-control border border-3" name="birth_place" value={{announce.power}}>
            </div>
            <div class="form-group">
                <label class="col-form-label" for="km">Kilometers : </label>
                <input type="text" class="form-control border border-3" name="lastname" value={{announce.km}}>
            </div>
            <div class="form-group">
                <label class="col-form-label" for="year">Year : </label>
                <input type="date" class="form-control border border-3" name="birthday" value={{announce.year}}>
            </div>
            <div class="form-group">
                <label class="col-form-label" for="rating">Rating : </label>
                <input type="text" class="form-control border border-3" name="lastname" value={{announce.rating}}>
            </div>
            <div class="form-group">
                <label class="col-form-label" for="price">Prix : </label>
                <input type="text" class="form-control border border-3" name="birth_place" value={{announce.price}}>
            </div>
            <input type="submit" class="btn btn-primary mt-3 mb-3" value="Update">
            <a class="btn btn-warning" href="/announce">Cancel</a>
            <a class="btn btn-danger" href="/announce/delete{{announce.id}}">Delete</a>
        </form>
        <a class="btn btn-primary" href="/de">Supprimer</a>
    </div>

{% endblock %}
