{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Anounce {{ announce.title }}</h1>
    <p>{{ announce.id }}. {{ announce.title }}</p>
    <a href="/annonce/edit/{{ announce.id }}">Edit</a>
    <a href="/annonce/delete/{{announce.id}}">Delete</a>
    <br>
    <a href="/annonce/">Back to list</a>
{% endblock %}
