{% extends 'layout.html.twig' %}

{% block content %}
    <h3>{{ announce.mark}}{{ announce.model}}</h3>
     <p class="card-text">{{ announce.picture}}</p>
    <p class="card-text">Registration number : {{ announce.regNumber}}</p>
    <p class="card-text">Color : {{ announce.color}}</p>
    <p class="card-text">Power : {{ announce.power}}</p>
    <p class="card-text">Kilometers : {{ announce.km}}</p>
    <p class="card-text">Year : {{ announce.year}}</p>
    <p class="card-text">Rating : {{ announce.rating}}</p>
    <p class="card-text">Price : {{ announce.price}}</p>
    <a href="/annonce/edit/{{ announce.id }}">Edit</a>
    <a href="/annonce/delete/{{announce.id}}">Delete</a>
    <br>
    <a href="/annonce/">Back to list</a>
{% endblock %}
