{% extends 'layout.html.twig' %}

{% block content %}
    <h1>contrat {{ contrat.title }}</h1>
    <p>{{ contrat.id }}. {{ contrat.title }}</p>
    <a href="/contrat/edit/{{ contrat.id }}">Edit</a>
    <a href="/contrat/delete/{{contrat.id}}">Delete</a>
    <br>
    <a href="/contrat/">Back to list</a>
{% endblock %}
