{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{ announce.title }}</h1>
    <h5>Data Sheets</h5>
    <p>Brand : {{ announce.brand }}</p> 
    <p>Model : {{ announce.model }}</p> 
    <p>Color : {{ announce.color }}</p> 
    <p>Power : {{ announce.power }}</p> 
    <p>Kilometers : {{ announce.kilometers }}</p> 
    <p>Year : {{ announce.year }}</p> 
    <div>
        <img src="{{ announce.picture }}" class="announce" alt="...">
    </div>
    <a href="/announce/edit/{{ announce.id }}">Edit</a>
    <a href="/announce/delete/{{announce.id}}">Delete</a>
    <br>
    <a href="/announce">Back to list</a>
{% endblock %}
