{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{ announce.title }}</h1>
    <h5>Data Sheets</h5>
    <p>Brand : {{ announce.brand }}</p> 
    <p>Model : {{ announce.model }}</p> 
    <p>City : {{ announce.city }}</p> 
    <p>Color : {{ announce.color }}</p> 
    <p>Power : {{ announce.power }}</p> 
    <p>Kilometers : {{ announce.km }}</p> 
    <p>Year : {{ announce.year }}</p> 
    <div>
        <img src="{{ announce.picture }}" class="announce" alt="...">
    </div>
    
{% if(session.role == 'ADMIN') or (session.id == announce.user_id) %}
    <a class="btn btn-warning" href="/announce/edit/{{ announce.id }}">Edit</a>
    <a class="btn btn-danger" href="/announce/delete/{{announce.id}}">Delete</a>
{% endif %}
    <br>   
    <a class="btn btn-success" href="/booking/show/{{announce.id}}">Book this car</a>
    <a class="btn btn-dark" href="/announce">Back to list</a>
    <br>   
{% endblock %}
