{% extends 'layout.html.twig' %}

{% block content %}

  <h1>Réservation</h1><pre></pre>
  <div class="d-flex flex-row">
  <h2>Summary</h2>
  <img src="../../../assets/images/icones/feuOrange.PNG" width="30rem">
  </div>
  <pre></pre>

<div id="booking">
    <div class="card p-3 me-5">
      <h3>The car</h3>
      <div class="">
        <p>Brand{{announce.brand}}{{announce.model}}</p>
        <p>Power : {{announce.power}}ch</p>
        <p>Registration number : {{announce.registration_number}}</p>
        <p>Release date : {{announce.year}}</p>
      </div>
      <div>
          <img src="{{ announce.picture }}" id="image_book" alt="...">
        </div>
  </div>
  <div class="card me-5 p-3">
    <h3>Where will you find the car</h3>
    <div>
      <p>Address : {{user.address}}</p>
      <p>City : {{user.city}}, {{user.postal_code}}</p>
      <p>Phone : {{user.phone}}</p>
    </div>
  </div>
  <div class="card p-3">
      <h3>Bill</h3>
      <div>
        <p>Daily price : {{announce.daily_price}} €</p>
        <p>Number of days : {{days}}</p>
        <p>Coût total : {{price}}</p>
        <a class="navbar-brand btn btn-warning" href="/booking/add/{{announce.id}}/{{days}}">Add a day</a>
      </div>
</div>
</div>

<br> 

<div class="d-flex flex-row">
 <h2>Paiement</h2>
 <img src="../../../assets/images/icones/feuVert.PNG" width="30rem">
 </div>
 
 <br> 

    <div class="card p-3">
      <h3>Click on the button bellow to pay</h3>
      <p>If the button do not redirect to an other page, that means that this car is free ! We will pay this time for you !</p>
      <button class="btn btn-dark">PAY !</button>
      <p>Once you've pay, you can click on booking bellow</p>
    </div>

  <a href="/booking/book/{{announce.id}}/{{days}}" class="btn btn-success mt-3 mb-3">Booking</a>
  <button class="btn btn-warning mt-3 mb-3" href="/announce/show/{{announce.id}}">Cancel</button>
 {% endblock %}
